html, body{
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 40px 1fr;
    height: 100vh;
}
nav{
    background-color: #323232;
}
main{
    background-color: #232323;
}